<div class="container-fluid" role="main">
  <div class="grid">
    <div>
      <h1>{{ (lastAddedBook$ | async) ?? "No new books added" }}</h1>
    </div>
    <div>
      <ul>
        <li *ngFor="let title of bookTitles$ | async">
          {{ title }}
        </li>
      </ul>
    </div>
    <div>
      <h1>WATCH</h1>
      <ul>
        <li *ngFor="let title of bookTitlesWatch$ | async">
          {{ title }}
        </li>
      </ul>
    </div>
  </div>
</div>

<button mat-raised-button (click)="addBook()">Add Book</button>

<router-outlet></router-outlet>
