<div class="container-fluid" role="main" *ngIf="loading">
  <button aria-busy="true">Please wait…</button>
</div>

<div class="container" role="main" *ngIf="!loading">
  <h1>
    {{ lastAddedBookTitle() ?? "No book added yet this session..." }}
  </h1>

  <section>
    <form>
      <div class="grid">
        <label for="Title">
          Title
          <input
            type="text"
            id="Title"
            name="Title"
            placeholder="Title"
            required
            [(ngModel)]="bookTitle"
          />
        </label>
        <label for="Title">
          authorId
          <input
            type="text"
            id="Title"
            name="AuthorId"
            placeholder="Author Id"
            required
            [(ngModel)]="authorId"
          />
        </label>
      </div>
      <button (click)="addBook()">Add Book</button>
    </form>
  </section>

  <section>
    <h5>Authors page</h5>
    <h6>
      <span
        >Showing page {{ this.pageNumber - 1 }}: {{ this.paginationLeft }} -
        {{ this.paginationRight }}</span
      >
    </h6>
    <table>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authorsOfPage()">
          <td>{{ author.id }}</td>
          <td>{{ author.fullName }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button
        class="outline"
        *ngIf="hasPreviousPage()"
        (click)="fetchPreviousPage()"
      >
        Previous
      </button>
      <button *ngIf="hasNextPage()" (click)="fetchNextPage()">Next</button>
    </div>
  </section>

  <section>
    <h6>WATCH (GQL CACHE CHANGES)</h6>
    <button class="outline" (click)="fetchBooks()">
      Refetch now (default timeout: 10s)
    </button>

    <table>
      <thead>
        <tr>
          <th scope="col">Created At</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookWatch()">
          <td>{{ book.createdAt }}</td>
          <td>{{ book.title }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h6>SIGNAL FETCH (once)</h6>
    <table>
      <thead>
        <tr>
          <th scope="col">Created At</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books()">
          <td>{{ book.createdAt }}</td>
          <td>{{ book.title }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<router-outlet></router-outlet>
